<h1>About Me</h1>
<p>Heya, my name is Alec. Welcome to my portfolio!</p>
<p>I'm a 22y/o programming student here at Georgian College. My physical form is made out of meat and bones. My corporeal form? Who knows!</p>
<p>Feel free to give my twitter a look if you'd like to know more. @MyRealHandleDawg</p>