<!DOCTYPE html>
<html>

  <head>
    <title>{{Portfolio}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    {{!-- Css Bootsrap from Bootstrap CDN --}}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
       integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
  </head>

  <body>

    {{!-- Navigation bar from w3schools --}}
    <!-- Grey with black text -->
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-center">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="index">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="about">About Me</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="projects">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="contacts">Contact</a>
        </li>
      </ul>
    </nav>


    {{{body}}}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js"
       integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2" crossorigin="anonymous"></script>
  
  </body>
</html>
