<h1>Projects</h1>
<p>I'm not much of an active programmer, I'm really an illustrator by trade. But most of the code I've written is available on my Github.</p>
<p>Feel free to stop by and look around!</p>

<p>https://github.com/alecatorx</p>
<p>p.s. see a snippet you like? what's mine is yours!</p>